[INPUT]
Working_Path = /tahoma/emsl61351/bioinformatics_tools/python_scripts/youngs_scripts/1000_Soil_metagenome/fba_to_jitter_table/4_conv_to_sample_factor
CSV_FILE     = Chthonio_fba_log10/Chthonio_uptake_btm_low_neg_rm_corr.csv

#Scale the range of the values by adding/subtracting scale factors from max and min value of the table ('yes' or 'no')
SCALE        = yes
SCALE_FACTOR = 0.5

[OUTPUT]
CONV_CSV  = ./Chthonio_fba_log10_smpl_fact/Chthonio_btm_low_smpl_fact.tsv
