[INPUT]
#don't put the '/' at the end of the line
Working_Path = /tahoma/emsl61351/bioinformatics_tools/python_scripts/youngs_scripts/1000_Soil_metagenome/fba_to_jitter_table/2_pull_rows_cols_from_tbl
TSV_FILE     = 1000_Soil_Chthonio_uptake.tsv

#col (c) or row (r)?
# if 'c', it assumes that there is a header in the table file. 
COL_OR_ROW   = r
TARGET_ID    = ./1000_Soil_Chthonio_fba_50pct.txt

[OUTPUT]
OUTPUT_TSV = ./1000_Soil_Chthonio_uptake_50pct.tsv
