[INPUT]
#INPUT_FOLDER: A folder with '.csv' files
INPUT_FOLDER=./Chthonio_uptake_pre_corr

#LOG_METHOD:'LN' for 'natural log' or 'BT' for 'log base 10'
LOG_METHOD=BT

#Some values are 0, so we need to adjust before we log-correct
ADJUST= 0.005

#Print average and standard dev? ('yes' or 'no')
AVG_STV = no

#AVERAGE_THRESHOLD: Filters table using the average calculated across the columns
AV_THRESHOLD=0.1

[OUTPUT]
OUTPUT_FOLDER=./Chthonio_uptake_post_corr
